.page-body {
  display: grid;
  min-width: 320px;
  // min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  grid-template-rows: auto 1fr auto;
  color: var(--bg-dark, #ff6347);
  background-color: var(--bg-ligth, #ff6347);
}
