/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  @include primary-font (14px, 20px); // $font-size, $line-height

  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 24px); // $font-size, $line-height
  }
}
